@import "tailwindcss";
@import "./base.css";

/* Tailwind variables for colors & fonts */
@theme {
  --color-oihan-dark: #034b4b;
  --color-oihan-primary: #047272;
  --color-oihan-light: #a4dada;
  --color-oihan-surface: #f0f8f8;
  --font-jost: Jost, system-ui;
}

/* Activate dark mode */
@variant dark (&:where(.dark, .dark *));
