/* POLICES AUTO-HÉBERGÉES */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/jost-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/jost-v20-latin-700.woff2") format("woff2");
}

/* TAILWIND */
@import "tailwindcss";

@theme {
  --color-oihan-dark: #034b4b;
  --color-oihan-primary: #069494;
  --color-oihan-light: #a4dada;
  --color-oihan-surface: #f0f8f8;
  --font-jost: Jost, system-ui;
}
